body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

#reunion {
    font-size: xxx-large;
    text-align: center;
}

ul {
    list-style-type: none;
    place-self: start;
}